// Импорт переменных
@import "variables";
// Натройка высоты
html{
  height: 100%;
}
// базовая разметка
body{
  font-family: 'PT Sans', sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100%;

  scroll-behavior: smooth;

  font-size: 16px;
  color: $black-text;

  overflow-x: hidden;

  @media screen and (max-width: 768px){
    font-size: 12px;
  }
}
// Шапка
header{
  padding: $small-vertical-pad $none-pad;

  border-bottom: 4px solid $black-background;

  .header{
    display: flex;
    gap: $medium-horizontal-pad;
    align-items: center;

    &-menu{
      display: none;
      margin-left: auto;
      flex-direction: column;
      gap: 6px;
      .menu-line{
        width: 24px;
        height: 3px;
        background-color: $black-background;
        transition: transform 0.3s ease-in-out;
      }
      @media screen and (max-width: 768px){
        display: flex;
        &__active {
          .menu-line:nth-child(1) {
            transform: translateY(9px) rotate(-45deg); /* Анимация для верхней линии */
          }
          .menu-line:nth-child(2) {
            opacity: 0; /* Скрытие средней линии */
          }
          .menu-line:nth-child(3) {
            transform: translateY(-9px) rotate(45deg); /* Анимация для нижней линии */
          }
        }
      }
    }
    &-nav{
      display: flex;
      margin-left: auto;
      gap: $medium-horizontal-pad;

      .header-link{
        font-size: 18px;
        font-weight: 600;

        position: relative;
        &:after{
          position: absolute;
          content: "";
          left: 0;
          top: 100%;
          height: 2px;
          width: 0%;
          background-color: $black-text;
          transition: 0.2s all;
        }
        &:hover{
          &:after{
            width: 100%;
          }
        }
      }

      @media screen and (max-width: 768px){
        position: absolute !important;
        left: 100%;
        top: 0;
        width: 100%;
        margin-top: 60px;
        padding: $medium-vertical-pad $none-pad;
        height: calc(100vh - 60px);
        background-color: $gray-background;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: $medium-vertical-pad;

        transition: 0.2s all;

        &__active{
          left: 0%;
        }
      }
    }
  }
}
main{
  flex: 1 0 auto;
}
footer{
  padding: $large-vertical-pad $none-pad;
  background-color: $black-background;
  color: $white-text;
  .footer{
    display: flex;
    gap: $medium-horizontal-pad;
    align-items: end;
    &-author{
      display: flex;
      flex-direction: column;
      gap: $small-vertical-pad;
      span{
        font-size: 12px;
      }
      font-size: 20px;
      font-weight: 600;
    }
    &-up{
      margin-left: auto;
      cursor: pointer;
      text-align: right;
    }
  }
}