// Вертикальные паддинги
$min-vertical-pad:5px;
$small-vertical-pad:10px;
$medium-vertical-pad:20px;
$large-vertical-pad:30px;
// Горизонтальные паддинги
$small-horizontal-pad:15px;
$medium-horizontal-pad:25px;
$large-horizontal-pad:35px;
// Отсутсвующий отступ
$none-pad: 0;
// Цвета
$gray-background: #c5c5c5;
$black-text: #1a1919;
$black-border: #444444;
$black-background: #1e1e1e;
$accent-color: #d2c041;
$white-text:#ffffff;
$blue-link: #26268a;